{
  "openapi": "3.1.1",
  "info": {
    "title": "Bchatsign v2 API",
    "description": "Welcome to the Bchatsign v2 API.\n\nThis API provides access to our system, which you can use to integrate applications, automate workflows, or build custom tools.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.bchatsign.com/api/v2"
    }
  ],
  "paths": {
    "/envelope/attachment": {
      "get": {
        "operationId": "envelope-attachment-find",
        "summary": "Find attachments",
        "description": "Find all attachments for an envelope",
        "tags": [
          "Envelope Attachments"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "envelopeId",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "link"
                            ]
                          },
                          "label": {
                            "type": "string"
                          },
                          "data": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "label",
                          "data"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          }
        },
        "x-speakeasy-group": "envelopes.attachments",
        "x-speakeasy-name-override": "find",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from bchatsign_sdk import Bchatsign\nimport os\n\n\nwith Bchatsign(\n    api_key=os.getenv(\"BCHATSIGN_API_KEY\", \"\"),\n) as bchatsign:\n\n    res = bchatsign.envelopes.attachments.find(envelope_id=\"<id>\")\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Bchatsign } from \"@bchatsign/sdk-typescript\";\n\nconst bchatsign = new Bchatsign({\n  apiKey: process.env[\"BCHATSIGN_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await bchatsign.envelopes.attachments.find({\n    envelopeId: \"<id>\",\n  });\n\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tsdkgo \"github.com/bchatsign/sdk-go\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := sdkgo.New(\n        sdkgo.WithSecurity(os.Getenv(\"BCHATSIGN_API_KEY\")),\n    )\n\n    res, err := s.Envelopes.Attachments.Find(ctx, \"<id>\", nil)\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Object != nil {\n        // handle response\n    }\n}"
          }
        ]
      }
    },
    "/envelope/attachment/create": {
      "post": {
        "operationId": "envelope-attachment-create",
        "summary": "Create attachment",
        "description": "Create a new attachment for an envelope",
        "tags": [
          "Envelope Attachments"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "envelopeId": {
                    "type": "string"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "label": {
                        "type": "string",
                        "minLength": 1
                      },
                      "data": {
                        "type": "string",
                        "format": "uri"
                      }
                    },
                    "required": [
                      "label",
                      "data"
                    ]
                  }
                },
                "required": [
                  "envelopeId",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          }
        },
        "x-speakeasy-group": "envelopes.attachments",
        "x-speakeasy-name-override": "create",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from bchatsign_sdk import Bchatsign\nimport os\n\n\nwith Bchatsign(\n    api_key=os.getenv(\"BCHATSIGN_API_KEY\", \"\"),\n) as bchatsign:\n\n    res = bchatsign.envelopes.attachments.create(envelope_id=\"<id>\", data={\n        \"label\": \"<value>\",\n        \"data\": \"https://lustrous-skeleton.info\",\n    })\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Bchatsign } from \"@bchatsign/sdk-typescript\";\n\nconst bchatsign = new Bchatsign({\n  apiKey: process.env[\"BCHATSIGN_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await bchatsign.envelopes.attachments.create({\n    envelopeId: \"<id>\",\n    data: {\n      label: \"<value>\",\n      data: \"https://lustrous-skeleton.info\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tsdkgo \"github.com/bchatsign/sdk-go\"\n\t\"github.com/bchatsign/sdk-go/models/operations\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := sdkgo.New(\n        sdkgo.WithSecurity(os.Getenv(\"BCHATSIGN_API_KEY\")),\n    )\n\n    res, err := s.Envelopes.Attachments.Create(ctx, operations.EnvelopeAttachmentCreateRequest{\n        EnvelopeID: \"<id>\",\n        Data: operations.EnvelopeAttachmentCreateData{\n            Label: \"<value>\",\n            Data: \"https://lustrous-skeleton.info\",\n        },\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Object != nil {\n        // handle response\n    }\n}"
          }
        ]
      }
    },
    "/envelope/attachment/update": {
      "post": {
        "operationId": "envelope-attachment-update",
        "summary": "Update attachment",
        "description": "Update an existing attachment",
        "tags": [
          "Envelope Attachments"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "label": {
                        "type": "string",
                        "minLength": 1
                      },
                      "data": {
                        "type": "string",
                        "format": "uri"
                      }
                    },
                    "required": [
                      "label",
                      "data"
                    ]
                  }
                },
                "required": [
                  "id",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          }
        },
        "x-speakeasy-group": "envelopes.attachments",
        "x-speakeasy-name-override": "update",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from bchatsign_sdk import Bchatsign\nimport os\n\n\nwith Bchatsign(\n    api_key=os.getenv(\"BCHATSIGN_API_KEY\", \"\"),\n) as bchatsign:\n\n    res = bchatsign.envelopes.attachments.update(id=\"<id>\", data={\n        \"label\": \"<value>\",\n        \"data\": \"https://tough-premier.biz\",\n    })\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Bchatsign } from \"@bchatsign/sdk-typescript\";\n\nconst bchatsign = new Bchatsign({\n  apiKey: process.env[\"BCHATSIGN_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await bchatsign.envelopes.attachments.update({\n    id: \"<id>\",\n    data: {\n      label: \"<value>\",\n      data: \"https://tough-premier.biz\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tsdkgo \"github.com/bchatsign/sdk-go\"\n\t\"github.com/bchatsign/sdk-go/models/operations\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := sdkgo.New(\n        sdkgo.WithSecurity(os.Getenv(\"BCHATSIGN_API_KEY\")),\n    )\n\n    res, err := s.Envelopes.Attachments.Update(ctx, operations.EnvelopeAttachmentUpdateRequest{\n        ID: \"<id>\",\n        Data: operations.EnvelopeAttachmentUpdateData{\n            Label: \"<value>\",\n            Data: \"https://tough-premier.biz\",\n        },\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Object != nil {\n        // handle response\n    }\n}"
          }
        ]
      }
    },
    "/envelope/attachment/delete": {
      "post": {
        "operationId": "envelope-attachment-delete",
        "summary": "Delete attachment",
        "description": "Delete an attachment from an envelope",
        "tags": [
          "Envelope Attachments"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          }
        },
        "x-speakeasy-group": "envelopes.attachments",
        "x-speakeasy-name-override": "delete",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from bchatsign_sdk import Bchatsign\nimport os\n\n\nwith Bchatsign(\n    api_key=os.getenv(\"BCHATSIGN_API_KEY\", \"\"),\n) as bchatsign:\n\n    res = bchatsign.envelopes.attachments.delete(id=\"<id>\")\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Bchatsign } from \"@bchatsign/sdk-typescript\";\n\nconst bchatsign = new Bchatsign({\n  apiKey: process.env[\"BCHATSIGN_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await bchatsign.envelopes.attachments.delete({\n    id: \"<id>\",\n  });\n\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tsdkgo \"github.com/bchatsign/sdk-go\"\n\t\"github.com/bchatsign/sdk-go/models/operations\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := sdkgo.New(\n        sdkgo.WithSecurity(os.Getenv(\"BCHATSIGN_API_KEY\")),\n    )\n\n    res, err := s.Envelopes.Attachments.Delete(ctx, operations.EnvelopeAttachmentDeleteRequest{\n        ID: \"<id>\",\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Object != nil {\n        // handle response\n    }\n}"
          }
        ]
      }
    },
    "/envelope/item/create-many": {
      "post": {
        "operationId": "envelope-item-createMany",
        "summary": "Create envelope items",
        "description": "Create multiple envelope items for an envelope",
        "tags": [
          "Envelope Items"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "object",
                    "properties": {
                      "envelopeId": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "envelopeId"
                    ]
                  },
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "contentMediaType": "application/octet-stream"
                    }
                  }
                },
                "required": [
                  "payload"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "envelopeId": {
                            "type": "string"
                          },
                          "order": {
                            "type": "number"
                          },
                          "documentDataId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "envelopeId",
                          "order",
                          "documentDataId"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          }
        },
        "x-speakeasy-group": "envelopes.items",
        "x-speakeasy-name-override": "createMany",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from bchatsign_sdk import Bchatsign\nimport os\n\n\nwith Bchatsign(\n    api_key=os.getenv(\"BCHATSIGN_API_KEY\", \"\"),\n) as bchatsign:\n\n    res = bchatsign.envelopes.items.create_many(payload={\n        \"envelope_id\": \"<id>\",\n    })\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Bchatsign } from \"@bchatsign/sdk-typescript\";\n\nconst bchatsign = new Bchatsign({\n  apiKey: process.env[\"BCHATSIGN_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await bchatsign.envelopes.items.createMany({\n    payload: {\n      envelopeId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tsdkgo \"github.com/bchatsign/sdk-go\"\n\t\"github.com/bchatsign/sdk-go/models/operations\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := sdkgo.New(\n        sdkgo.WithSecurity(os.Getenv(\"BCHATSIGN_API_KEY\")),\n    )\n\n    res, err := s.Envelopes.Items.CreateMany(ctx, operations.EnvelopeItemCreateManyRequest{\n        Payload: operations.EnvelopeItemCreateManyPayload{\n            EnvelopeID: \"<id>\",\n        },\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Object != nil {\n        // handle response\n    }\n}"
          }
        ]
      }
    },
    "/envelope/item/update-many": {
      "post": {
        "operationId": "envelope-item-updateMany",
        "summary": "Update envelope items",
        "description": "Update multiple envelope items for an envelope",
        "tags": [
          "Envelope Items"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "envelopeId": {
                    "type": "string"
                  },
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "envelopeItemId": {
                          "type": "string"
                        },
                        "order": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        }
                      },
                      "required": [
                        "envelopeItemId"
                      ]
                    },
                    "minItems": 1
                  }
                },
                "required": [
                  "envelopeId",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "order": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          },
                          "envelopeId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "order",
                          "title",
                          "envelopeId"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          }
        },
        "x-speakeasy-group": "envelopes.items",
        "x-speakeasy-name-override": "updateMany",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from bchatsign_sdk import Bchatsign\nimport os\n\n\nwith Bchatsign(\n    api_key=os.getenv(\"BCHATSIGN_API_KEY\", \"\"),\n) as bchatsign:\n\n    res = bchatsign.envelopes.items.update_many(envelope_id=\"<id>\", data=[])\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Bchatsign } from \"@bchatsign/sdk-typescript\";\n\nconst bchatsign = new Bchatsign({\n  apiKey: process.env[\"BCHATSIGN_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await bchatsign.envelopes.items.updateMany({\n    envelopeId: \"<id>\",\n    data: [],\n  });\n\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tsdkgo \"github.com/bchatsign/sdk-go\"\n\t\"github.com/bchatsign/sdk-go/models/operations\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := sdkgo.New(\n        sdkgo.WithSecurity(os.Getenv(\"BCHATSIGN_API_KEY\")),\n    )\n\n    res, err := s.Envelopes.Items.UpdateMany(ctx, operations.EnvelopeItemUpdateManyRequest{\n        EnvelopeID: \"<id>\",\n        Data: []operations.EnvelopeItemUpdateManyDataRequest{},\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Object != nil {\n        // handle response\n    }\n}"
          }
        ]
      }
    },
    "/envelope/item/delete": {
      "post": {
        "operationId": "envelope-item-delete",
        "summary": "Delete envelope item",
        "description": "Delete an envelope item from an envelope",
        "tags": [
          "Envelope Items"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "envelopeId": {
                    "type": "string"
                  },
                  "envelopeItemId": {
                    "type": "string"
                  }
                },
                "required": [
                  "envelopeId",
                  "envelopeItemId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          }
        },
        "x-speakeasy-group": "envelopes.items",
        "x-speakeasy-name-override": "delete",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from bchatsign_sdk import Bchatsign\nimport os\n\n\nwith Bchatsign(\n    api_key=os.getenv(\"BCHATSIGN_API_KEY\", \"\"),\n) as bchatsign:\n\n    res = bchatsign.envelopes.items.delete(envelope_id=\"<id>\", envelope_item_id=\"<id>\")\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Bchatsign } from \"@bchatsign/sdk-typescript\";\n\nconst bchatsign = new Bchatsign({\n  apiKey: process.env[\"BCHATSIGN_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await bchatsign.envelopes.items.delete({\n    envelopeId: \"<id>\",\n    envelopeItemId: \"<id>\",\n  });\n\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tsdkgo \"github.com/bchatsign/sdk-go\"\n\t\"github.com/bchatsign/sdk-go/models/operations\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := sdkgo.New(\n        sdkgo.WithSecurity(os.Getenv(\"BCHATSIGN_API_KEY\")),\n    )\n\n    res, err := s.Envelopes.Items.Delete(ctx, operations.EnvelopeItemDeleteRequest{\n        EnvelopeID: \"<id>\",\n        EnvelopeItemID: \"<id>\",\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Object != nil {\n        // handle response\n    }\n}"
          }
        ]
      }
    },
    "/envelope/item/{envelopeItemId}/download": {
      "get": {
        "operationId": "envelope-item-download",
        "summary": "Download an envelope item",
        "description": "Download an envelope item by its ID",
        "tags": [
          "Envelope Items"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "envelopeItemId",
            "description": "The ID of the envelope item to download.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "version",
            "description": "The version of the envelope item to download. \"signed\" returns the completed document with all signatures and the audit trail, \"original\" returns the original uploaded document, \"pending\" returns the original document with currently-inserted fields burned in (only valid while the envelope is in PENDING status; not a final executed document).",
            "schema": {
              "type": "string",
              "enum": [
                "original",
                "signed",
                "pending"
              ],
              "default": "signed"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "application/pdf"
                  ]
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          }
        },
        "x-speakeasy-group": "envelopes.items",
        "x-speakeasy-name-override": "download",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "import bchatsign_sdk\nfrom bchatsign_sdk import Bchatsign\nimport os\n\n\nwith Bchatsign(\n    api_key=os.getenv(\"BCHATSIGN_API_KEY\", \"\"),\n) as bchatsign:\n\n    res = bchatsign.envelopes.items.download(envelope_item_id=\"<id>\", version=bchatsign_sdk.EnvelopeItemDownloadVersion.SIGNED)\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Bchatsign } from \"@bchatsign/sdk-typescript\";\n\nconst bchatsign = new Bchatsign({\n  apiKey: process.env[\"BCHATSIGN_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await bchatsign.envelopes.items.download({\n    envelopeItemId: \"<id>\",\n  });\n\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tsdkgo \"github.com/bchatsign/sdk-go\"\n\t\"github.com/bchatsign/sdk-go/models/operations\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := sdkgo.New(\n        sdkgo.WithSecurity(os.Getenv(\"BCHATSIGN_API_KEY\")),\n    )\n\n    res, err := s.Envelopes.Items.Download(ctx, \"<id>\", operations.EnvelopeItemDownloadVersionSigned.ToPointer())\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Any != nil {\n        // handle response\n    }\n}"
          }
        ]
      }
    },
    "/envelope/recipient/{recipientId}": {
      "get": {
        "operationId": "envelope-recipient-get",
        "summary": "Get envelope recipient",
        "description": "Returns an envelope recipient given an ID",
        "tags": [
          "Envelope Recipients"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "recipientId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "envelopeId": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string",
                      "enum": [
                        "CC",
                        "SIGNER",
                        "VIEWER",
                        "APPROVER",
                        "ASSISTANT"
                      ]
                    },
                    "readStatus": {
                      "type": "string",
                      "enum": [
                        "NOT_OPENED",
                        "OPENED"
                      ]
                    },
                    "signingStatus": {
                      "type": "string",
                      "enum": [
                        "NOT_SIGNED",
                        "SIGNED",
                        "REJECTED"
                      ]
                    },
                    "sendStatus": {
                      "type": "string",
                      "enum": [
                        "NOT_SENT",
                        "SENT"
                      ]
                    },
                    "id": {
                      "type": "number"
                    },
                    "email": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string"
                    },
                    "documentDeletedAt": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "expired": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "expiresAt": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "expirationNotifiedAt": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "signedAt": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "authOptions": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "accessAuth": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "ACCOUNT",
                              "TWO_FACTOR_AUTH"
                            ]
                          }
                        },
                        "actionAuth": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "ACCOUNT",
                              "PASSKEY",
                              "TWO_FACTOR_AUTH",
                              "PASSWORD",
                              "EXPLICIT_NONE"
                            ]
                          }
                        }
                      },
                      "required": [
                        "accessAuth",
                        "actionAuth"
                      ]
                    },
                    "signingOrder": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "rejectionReason": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "envelopeId": {
                            "type": "string"
                          },
                          "envelopeItemId": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "SIGNATURE",
                              "FREE_SIGNATURE",
                              "INITIALS",
                              "NAME",
                              "EMAIL",
                              "DATE",
                              "TEXT",
                              "NUMBER",
                              "RADIO",
                              "CHECKBOX",
                              "DROPDOWN"
                            ]
                          },
                          "id": {
                            "type": "number"
                          },
                          "secondaryId": {
                            "type": "string"
                          },
                          "recipientId": {
                            "type": "number"
                          },
                          "page": {
                            "type": "number"
                          },
                          "positionX": {},
                          "positionY": {},
                          "width": {},
                          "height": {},
                          "customText": {
                            "type": "string"
                          },
                          "inserted": {
                            "type": "boolean"
                          },
                          "fieldMeta": {
                            "nullable": true,
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96,
                                    "default": 12
                                  },
                                  "overflow": {
                                    "type": "string",
                                    "enum": [
                                      "auto",
                                      "horizontal",
                                      "vertical",
                                      "crop"
                                    ],
                                    "default": "auto"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "signature"
                                    ]
                                  }
                                },
                                "required": [
                                  "overflow",
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96,
                                    "default": 12
                                  },
                                  "overflow": {
                                    "type": "string",
                                    "enum": [
                                      "auto",
                                      "horizontal",
                                      "vertical",
                                      "crop"
                                    ]
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "initials"
                                    ]
                                  },
                                  "textAlign": {
                                    "type": "string",
                                    "enum": [
                                      "left",
                                      "center",
                                      "right"
                                    ]
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96,
                                    "default": 12
                                  },
                                  "overflow": {
                                    "type": "string",
                                    "enum": [
                                      "auto",
                                      "horizontal",
                                      "vertical",
                                      "crop"
                                    ]
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "name"
                                    ]
                                  },
                                  "textAlign": {
                                    "type": "string",
                                    "enum": [
                                      "left",
                                      "center",
                                      "right"
                                    ]
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96,
                                    "default": 12
                                  },
                                  "overflow": {
                                    "type": "string",
                                    "enum": [
                                      "auto",
                                      "horizontal",
                                      "vertical",
                                      "crop"
                                    ],
                                    "default": "auto"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "email"
                                    ]
                                  },
                                  "textAlign": {
                                    "type": "string",
                                    "enum": [
                                      "left",
                                      "center",
                                      "right"
                                    ]
                                  }
                                },
                                "required": [
                                  "overflow",
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96,
                                    "default": 12
                                  },
                                  "overflow": {
                                    "type": "string",
                                    "enum": [
                                      "auto",
                                      "horizontal",
                                      "vertical",
                                      "crop"
                                    ],
                                    "default": "auto"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "date"
                                    ]
                                  },
                                  "textAlign": {
                                    "type": "string",
                                    "enum": [
                                      "left",
                                      "center",
                                      "right"
                                    ]
                                  }
                                },
                                "required": [
                                  "overflow",
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96,
                                    "default": 12
                                  },
                                  "overflow": {
                                    "type": "string",
                                    "enum": [
                                      "auto",
                                      "horizontal",
                                      "vertical",
                                      "crop"
                                    ]
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "text"
                                    ]
                                  },
                                  "text": {
                                    "type": "string"
                                  },
                                  "characterLimit": {
                                    "type": "number",
                                    "minimum": 0
                                  },
                                  "textAlign": {
                                    "type": "string",
                                    "enum": [
                                      "left",
                                      "center",
                                      "right"
                                    ]
                                  },
                                  "lineHeight": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "minimum": 1,
                                    "maximum": 10
                                  },
                                  "letterSpacing": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "minimum": 0,
                                    "maximum": 100
                                  },
                                  "verticalAlign": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "enum": [
                                      "top",
                                      "middle",
                                      "bottom",
                                      null
                                    ]
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96,
                                    "default": 12
                                  },
                                  "overflow": {
                                    "type": "string",
                                    "enum": [
                                      "auto",
                                      "horizontal",
                                      "vertical",
                                      "crop"
                                    ]
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "number"
                                    ]
                                  },
                                  "numberFormat": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "value": {
                                    "type": "string"
                                  },
                                  "minValue": {
                                    "type": [
                                      "number",
                                      "null"
                                    ]
                                  },
                                  "maxValue": {
                                    "type": [
                                      "number",
                                      "null"
                                    ]
                                  },
                                  "textAlign": {
                                    "type": "string",
                                    "enum": [
                                      "left",
                                      "center",
                                      "right"
                                    ]
                                  },
                                  "lineHeight": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "minimum": 1,
                                    "maximum": 10
                                  },
                                  "letterSpacing": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "minimum": 0,
                                    "maximum": 100
                                  },
                                  "verticalAlign": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "enum": [
                                      "top",
                                      "middle",
                                      "bottom",
                                      null
                                    ]
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96,
                                    "default": 12
                                  },
                                  "overflow": {
                                    "type": "string",
                                    "enum": [
                                      "auto",
                                      "horizontal",
                                      "vertical",
                                      "crop"
                                    ]
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "radio"
                                    ]
                                  },
                                  "values": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "number"
                                        },
                                        "checked": {
                                          "type": "boolean"
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "checked",
                                        "value"
                                      ]
                                    }
                                  },
                                  "direction": {
                                    "type": "string",
                                    "enum": [
                                      "vertical",
                                      "horizontal"
                                    ],
                                    "default": "vertical"
                                  }
                                },
                                "required": [
                                  "type",
                                  "direction"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96,
                                    "default": 12
                                  },
                                  "overflow": {
                                    "type": "string",
                                    "enum": [
                                      "auto",
                                      "horizontal",
                                      "vertical",
                                      "crop"
                                    ]
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "checkbox"
                                    ]
                                  },
                                  "values": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "number"
                                        },
                                        "checked": {
                                          "type": "boolean"
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "checked",
                                        "value"
                                      ]
                                    }
                                  },
                                  "validationRule": {
                                    "type": "string"
                                  },
                                  "validationLength": {
                                    "type": "number"
                                  },
                                  "direction": {
                                    "type": "string",
                                    "enum": [
                                      "vertical",
                                      "horizontal"
                                    ],
                                    "default": "vertical"
[...]
